.movie-container {
    background: antiquewhite;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #333;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom : 50px;
  }
  
  .form-wrapper{
    width: 60%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
  }
  .cancel-button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 40px;
    vertical-align: middle;

  }
  .submit-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    vertical-align: middle;
  }

  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
  }